@import "../../styles/global.scss";


// Color classes
.primary {
    background-color: $primary-color;

    &:hover {
        background-color: $primary-hover-color;
    }

    color: $white;
}

.secondary {
    background-color: $secondary-color;

    &:hover {
        background-color: $secondary-hover-color;
    }

    color: $white;
}

.success {
    background-color: $success-color;

    &:hover {
        background-color: $success-hover-color;
    }

    color: $white;
}

.danger {
    background-color: $danger-color;

    &:hover {
        background-color: $danger-hover-color;
    }

    color: $white;
}

.warning {
    background-color: $warning-color;

    &:hover {
        background-color: $warning-hover-color;
    }

    color: $black;
}

.info {
    background-color: $info-color;

    &:hover {
        background-color: $info-hover-color;
    }

    color: $white;
}


.small {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}

.medium {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.large {
    padding: 1.5rem 3rem;
    font-size: 1.125rem;
}

.button {
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;

    &:focus {
        box-shadow: $focus-shadow;
    }

    &.disabled {
        opacity: $disabled-opacity;
        cursor: not-allowed;
    }
}