@import "../../styles/global.scss";

.productCardImg {
    min-height: 100px;
    aspect-ratio: 1 / 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        cursor: pointer;
        max-height: 80px;
        max-width: 80px;
        margin: 0 auto;
    }
}

.productCardListItem {
    transition: all 0.5s ease-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $black;
    gap: 0;
    margin-bottom: 10px;
    height: auto;
    min-height: 100px;

    @media (max-width: $media-md) {
        gap: 0;
        padding: 0;
    }

}

.productCardBody {
    flex: 1;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>div {
        margin-top: 10px;
    }
}

.productCardFooter {
    padding: 5px;
    border-top: 0;
    display: flex;
    flex-direction: column;

    @media (max-width: $media-md) {
        width: 100%;
    }
}