// Primary colors
$primary-color: #3b82f6;
$primary-hover-color: #1d4ed8;

// Secondary colors
$secondary-color: #6b7280;
$secondary-hover-color: #374151;

// Success colors
$success-color: #22c55e;
$success-hover-color: #15803d;

// Danger colors
$danger-color: #ef4444;
$danger-hover-color: #b91c1c;

// Warning colors
$warning-color: #facc15;
$warning-hover-color: #ca8a04;

// Info colors
$info-color: #2dd4bf;
$info-hover-color: #0d9488;

//  colors
$white: white;
$black: black;

// Other variables
$focus-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
$disabled-opacity: 0.5;