@import "../../styles/global.scss";

.emptyCartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  :global {
    img {
      max-width: 400px;
      width: 100%;
      height: auto;
      margin-bottom: 50px;
    }
  }
}