@import "../../styles/global.scss";

.detailWrapper {
    margin-top: 80px;
}

.mainDetailWrapper {
    display: flex;
    gap: 50px;

}


@media (max-width: $media-md) {
    .mainDetailWrapper {
        flex-direction: column;
        text-align: left;

    }
}