@import "../../styles/global.scss";

.mainWrapper {
    padding: 20px 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailWrapper {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;

}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    div {
        margin: 20px 0;
    }
}


@media (max-width: $media-md) {
    .detailWrapper {
        flex-direction: column;
        text-align: left;
    }
}